@use '../../styles/utils' as *;
@use '../../styles/variables' as *;
@use '../../styles/colors' as *;

.input-outer-container {
  .hint {
    font-size: 12px;
    line-height: 14px;
    color: $empty-input__border;
  }

  .input-container {
    border-radius: 4px;
    border: 1px solid $empty-input__border;

    .input {
      padding-inline: $default-gap;
      width: 100%;
      background: none;
      border: none;
      outline: none;
    }
  }
}
