@use "../../styles/variables" as *;

.card-grid {
  background: white;
  border-radius: 4px;
  justify-items: center;
  gap: $default-gap;
  padding: $default-gap;

  .image {
    display: block;
    border-radius: 50%;
    height: auto;
    max-width: 50px;
    object-fit: cover;
  }
}

