@use 'variables' as *;
@use 'colors' as *;
// input
.input {
  height: $input-height;
  width: $input-width;
}

.d-gap {
  gap: $default-gap;
}

.db-gap {
  gap: $double-gap;
}

.error-border {
  border: 1px solid $error__color !important;
}
