// pallet
$primary__color: #F4E041;
$secondary__color: #00BDD3;
$background__color: #F8F8F8;
//buttons
$button--hover: #FFE302;
$button-bg--disabled: #B4B4B4;
$button-text--disabled: #FFFFFFDE;
// upload
$upload-empty__color: #7E7E7E;
$upload-error__color: #CB3D40;


.primary {
  background-color: $primary__color;
}

.secondary {
  background-color: $secondary__color;
}

.background {
  background-color: $background__color;
}

