@use 'variables' as *;
// input
.input-container {
  height: $input-height;
  width: $input-width;
  // replace later with tailwind
  display: flex;
  justify-content: start;
  align-items: center;
}

.d-gap {
  gap: $default-gap;
}

.db-gap {
  gap: $double-gap;
}
