//animations
$transition: background-color .25s  ease-in;
// input
$default-border: 1px solid black;
$input-height: 54px;
$input-width: 328px;
// global
$default-gap: 10px;
$double-gap: 20px;
$section-gap: 60px;
