$upload-height: 58px;
$upload-width: 328px;
$upload-gap: 10px;
$button-border--radius: 4px 0 0 4px;
$upload-indicator-border--radius: 0 4px 4px 0;
$default-border: 1px solid black;
$empty-upload-border: 1px solid #D0CFCF;


.upload-container {
  height: $upload-height;
  width: $upload-width;
  display: flex;
  justify-content: start;
  align-items: center;

  button {
    cursor: pointer;
    padding-inline: $upload-gap;
    height: 100%;
    background: none;
    border: 1px solid black;
    border-radius: $button-border--radius;
  }

  div {
    text-overflow: ellipsis;
    padding-left: $upload-gap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: $empty-upload-border;
    border-top: $empty-upload-border;
    border-right: $empty-upload-border;
    border-radius: $upload-indicator-border--radius;
  }
}