@use "../../styles/variables" as *;

.card-grid-list {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.user-section {
  margin-top: $section-gap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $double-gap;
  align-items: center;
  margin-inline: 5%;
}