@use "./styles";

body {
  font-family: "Nunito", sans-serif;
  background-color: styles.$background__color;

  * {
    box-sizing: border-box;
    @include styles.body-font;
  }

  h1 {
    @include styles.heading-font;

    h1, p {
      margin: 0;
      padding: 0;
    }
  }
}

// reset

// font-sizes for heading
